<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="assets/styles/css/app.css">
	<title>Budget Graph</title>
</head>
<body>

	<section id="mainContent">
		<section id="graphArea"></section>
    <section id="sideBar"></section>
	</section>

  <script src="https://www.google.com/jsapi"></script>
  <script>
    google.load('visualization', '1.0', {'packages':['corechart']});

    google.setOnLoadCallback(function() {
      var el = document.createElement('script');
      el.src = "assets/scripts/libs/require.js";
      el.setAttribute('data-main', "assets/scripts/main");
      document.getElementsByTagName('body')[0].appendChild(el);
    });
  </script>
</body>
</html>
