<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="assets/styles/css/app.css">
	<title>Budget Graph</title>
</head>
<body>

	<section id="mainContent">
		<section id="sideBar"></section>
		<section id="graphArea"></section>
	</section>

	<script data-main="assets/scripts/main" src="assets/scripts/libs/require.js"></script>
</body>
</html>