<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="assets/styles/css/app.css">
	<title>Budget Graph</title>
</head>
<body>

  <header id="headerArea"></header>

	<section id="mainContent">
    <section id="loginArea"></section>
    <section id="graphArea"></section>
	</section>

  <footer id="footerArea"></footer>

  <script>
      var el = document.createElement('script');
      el.src = "assets/scripts/libs/require.js";
      el.setAttribute('data-main', "assets/scripts/main");
      document.getElementsByTagName('body')[0].appendChild(el);
  </script>

  <div id="blocker">
    <img src="/assets/images/spinner.gif" class="spinner" />
  </div>
</body>
</html>
