header#headerArea {
    font-size: 16px;
    color: white;
    box-shadow: 0 -1px 10px rgba(0,0,0, 0.3);
    position: relative;
    z-index: 100;
    height: 167px;
    & > div {
        width: $app-width;
        margin: 0 auto;
    }
    h1 {
        font-size: 24px;
        font-weight: 900;
        line-height: 24px;
        margin: 0;
        &:before {
            content: '';
            @include image(babbage_logo);
            width: 52px;
            height: 54px;
            display: block;
            background-size: cover;
            float: left;
            margin: -5px 20px -45px -5px;
        }
    }
    .header-top {
        padding: 15px 0;
        border-bottom: 1px solid $color-hr;

        .logout {
            cursor: pointer;
            &:hover {
                color: $color-hr;
            }
        }
    }

    .header-bottom {
        padding: 20px 0;
    }

    .amount {
        font-size: 62px;
        margin-left: 10px;
        font-weight: 300;
        line-height: 72px;
    }
}
