@import "compass/reset";
@import "compass/css3";
@import "compass/css3/appearance";
@import "compass/css3/user-interface";

//$no-rep-layout: smart;
//@import "no-rep/*.png";

@import "_bootstrap";
@import "_bootstrap.datepicker";

@import "_constants";
@import "_common";

@import "_sideBar";
@import "_graphArea";

body {
	@include image('repeating/maze_white');
	background-repeat: repeat;
	min-width: $app-width;
	font-family: helvetica, arial, sans-serif;

	#mainContent {
		overflow-y: hidden;
		@include clearfix;
		width: $app-width;
		height: $app-height;
		margin: 35px auto 0;

		@include cross_browser_linear_gradient(#fff, #f0f0f0);
		@include border-radius(3px);
		border: 1px solid $color-border;
	}
}

hr {
    margin: 15px 0;
}

h2 {
	line-height: 16px;
	font-size: 16px;
	font-weight: bold;
	color: $color-text;
	@include text_shadow(white);
	margin: 5px 0;
}

.btn-group {
    display: inline-block;
    /* IE7 inline-block hack */
    *display: inline;
    *zoom: 1;

    .dropdown-toggle {
        @include border-radius(4px);
    }

    .dropdown-label, .caret {
        // font-size: 16px;
    }

    .dropdown-label {
        text-align: left;
        float: left;
        overflow: hidden;
    }

    .caret {
        position: relative;
        top: 1px;
        left: 3px;
        margin-left: 5px;
    }

    .dropdown-menu {
        z-index: 16000; // qtip is set at 15000
        min-width: 100%;
        max-height: 235px;
        padding: 10px 0;

        li > a {
            text-decoration: none;
            text-shadow: none;
        }
    }
}

input[type="text"],
input[type="number"],
.input-append {
	margin-bottom: 0;
}

path {
    stroke: black;
    stroke-width: 1px;
    fill: none;

    &.vertical {
        stroke-width: 2px;
    }

    &.hover-text {
        fill: black;
    }
}

line {
    stroke: black;
}

.axis line {
	stroke: gray;
	stroke-width: 0.5;
}

text {
    font-family: Arial;
    font-size: 9pt;
}