@import "compass/reset";
@import "compass/css3";
@import "compass/css3/appearance";
@import "compass/css3/user-interface";

//$no-rep-layout: smart;
//@import "no-rep/*.png";

@import "_bootstrap";
@import "_bootstrap.datepicker";

@import "_constants";
@import "_common";

@import "_sideBar";
@import "_graphArea";

@import "_header";
@import "_login";
@import "_accounts";
@import "_footer";

body {
    margin: 0;
    background: #3e0941;
	min-width: $app-width;
	font-family: helvetica, arial, sans-serif;

	#mainContent {
		overflow-y: hidden;
		@include clearfix;
		width: 100%;
		height: $app-height;
		margin: 0 auto;
        background: white;
	}
}

#blocker {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000000, 0.7);
    .spinner {
        opacity: 0.3;
        position: absolute;
        width: 512px;
        height: 512px;
        left: 50%;
        top: 50%;
        margin-left: -256px;
        margin-top: -256px;
    }
}

h2 {
	line-height: 16px;
	font-size: 16px;
	font-weight: bold;
	color: $color-text;
	@include text_shadow(white);
	margin: 5px 0;
}

.btn-group {
    display: inline-block;
    /* IE7 inline-block hack */
    *display: inline;
    *zoom: 1;

    .dropdown-toggle {
        @include border-radius(4px);
    }

    .dropdown-label, .caret {
        // font-size: 16px;
    }

    .dropdown-label {
        text-align: left;
        float: left;
        overflow: hidden;
    }

    .caret {
        position: relative;
        top: 1px;
        left: 3px;
        margin-left: 5px;
    }

    .dropdown-menu {
        z-index: 16000; // qtip is set at 15000
        min-width: 100%;
        max-height: 235px;
        padding: 10px 0;

        li > a {
            text-decoration: none;
            text-shadow: none;
        }
    }
}

input[type="text"],
input[type="number"],
.input-append {
	margin-bottom: 0;
}

path {
    stroke: black;
    stroke-width: 1px;
    fill: none;

    &.vertical {
        stroke-width: 2px;
    }

    &.hover-text {
        fill: black;
    }
}

line {
    stroke: black;
}

.axis line {
	stroke: gray;
	stroke-width: 0.5;
}

text {
    font-family: Arial;
    font-size: 9pt;
}