<div class="input-line">
	<h2 class="left">Name</h2>
	<div class="right">
		<input type="text" name="name"/>
	</div>
</div>

<div class="input-line">
	<h2 class="left">Type</h2>
	<div class="right btn-group type" data-toggle="buttons-radio">
		<button type="button" class="btn btn-success">Income</button>
		<button type="button" class="btn btn-danger">Expense</button>
	</div>
</div>

<div class="input-line">
	<h2 class="left">Amount</h2>
	<div class="right">
		$<input type="number" name="amount" min="1" />
	</div>
</div>

<div class="input-line">
	<h2 class="left">Time</h2>
	<div class="right">
		<div class="right btn-group time" data-toggle="buttons-radio">
		<button type="button" class="btn once">Once</button>
		<button type="button" class="btn recurring">Recurring</button>
	</div>
	</div>
</div>

<hr />

<div class="frequency-region"></div>